**

!apps
!apps/**
!.python-version
!uv.lock
!compose.yaml
!compose.override.dev.yaml
!Dockerfile
!Dockerfile.dockerignore
!justfile
!just/
!just/**
!README.md
!CLAUDE.md
!LICENSE
!.gitignore
!.env.example
!alembic.ini
!alembic/
!alembic/**
!tests/
!tests/**
!pyproject.toml
apps/**/__pycache__/
apps/**/*.pyc
apps/**/*.env
apps/**/__pycache__/
apps/**/*.pyc
tests/**/__pycache__/
tests/**/*.pyc
alembic/**/__pycache__/
alembic/**/*.pyc
!.pre-commit-config.yaml
